<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://statsbot.renehahn.de/messages/model/0.1"
            class="MessagesModel.ModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
